@charset "utf-8";
@import "../../sass/common.scss";

.jo-number-count {
		display: inline-block;
		width: 100px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
			-webkit-appearance: none !important;
			margin: 0; 
    }
    input[type="number"]{
    	-moz-appearance:textfield;
    }
		.number-count-wrap {
			display: flex;
			font-size: 0;
			border: 1px solid $icon;
			transition: 0.3s;
			&:hover {
				transition: 0.3s;
				border: 1px solid $main;
				.count-input {
					border: none;
					border-left: 1px solid $main;
					border-right: 1px solid $main;
				}
			}
			> div {
				flex: 1;
			}
			.input-ct {
				flex: 3;
			}
			.icon-edit {
				text-align: center;
				font-size: 10px;
				display: inline-block;
				width: 100%;
				height: 30px;
				line-height: 30px;
				transition: 0.3s;
				&:hover {
					color: $main;
					cursor: pointer;
					transition: 0.3s;
				}
			}
			.count-input {
				font-size: 12px;
				display: inline-block;
				border: none;
				border-left: 1px solid $icon;
				border-right: 1px solid $icon;
				width: 100%;
				height: 30px;
				line-height: 30px;
				outline: none;
				text-indent: 10px;
			}
			&.focus {
				transition: 0.3s;
				border: 1px solid $main;
				.count-input {
					border: none;
					border-left: 1px solid $main;
					border-right: 1px solid $main;
				}
			}
		}
		&.disable {
			background: $disable;
			color: $icon;
			border: $border;
			&:hover {
				cursor: not-allowed;
				.number-count-wrap {
					&:hover {
						color: $icon;
						border: 1px solid $icon;
						.count-input {
							border: none;
							border-left: 1px solid $icon;
							border-right: 1px solid $icon;
							cursor: not-allowed;
						}
					}
				}
			}
			.icon-edit {
				&:hover {
					cursor: not-allowed;
					color: $icon;
				}
			}
		}
}
