@charset "utf-8";
@import "../../sass/common.scss";

.jo-breadcrumb {
    display: inline-block;
    line-height: 1;
    font-size: 0;
    &-item {
        display: inline-block;
        vertical-align: middle;
        color: #999;
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
        }
        &:last-child {
            .jo-breadcrumb-item-separator {
                display: none;
            }
        }
        &-inner {

        }
        &-separator {
            margin-left: 6px;
            margin-right: 6px;
        }
        &-link {
            color: $link;
            cursor: pointer;
        }
    }
}
