@charset "utf-8";
@import "../../sass/common.scss";

.jo-selectbox {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    min-width: 80px;
    height: 30px;
    font-size: 12px;
    color: $font;
    border: 1px solid $border;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    transition: all .15s ease-out;
    &.checked {
        color: $main;
        border: 1px solid $main;
    }
    &-lg {
        min-width: 160px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        padding: 0 50px;
    }
    &-stress {
        &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border: 9px solid $main;
            border-top-color: transparent;
            border-left-color: transparent;
            opacity: 0;
            transition: all .15s ease-out;
        }
        &:after {
            content: "\2713";
            position: absolute;
            right: 1px;
            bottom: -3px;
            font-weight: bold;
            color: #fff;
            line-height: 18px;
            opacity: 0;
            transition: all .15s ease-out;
        }
        &.checked {
            &:before {
                opacity: 1;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}
